    #title{
        color:#85dcf2;
        font-family: "Rubik Bubbles";
        border: 0.2cm solid darkblue;

    }
    .sub-title  ,  #nice{
      font-family: "Rubik Bubbles";

        color:rgb(199, 199, 255);
       
    }
    body{
        background: rgba(164, 185, 253, 20%);
       text-transform: capitalize;
       text-align: justify;
      font-size: 1.5em;
      font-family: "Shadows Into Light",cursive;
      margin-left: 15px;
align-items: center;    }
    .link{
      text-decoration: none;
      text-decoration-color: aqua;
    }
    .para-text{
      display: list-item;
    }
    #pic{
      height: 5%;
      width: 60%;
      border:13px double rgb(224, 95, 95);
      padding: 8px;
      margin-left: 15px;
    }
    #pic2{
      height: 250px;;
      width: 40%;
      border:13px double rgb(224, 95, 95);
      padding: 8px;
      margin: 100px;
      float:right;
      display: inline;
      
    }
    table{
      width: 500px;
    display: inline-block;
    margin: 50px;
    }
    .link:hover{
      display: none;
    }
    #title:hover{
      color:#2a7588;
      font-family: "Rubik Bubbles";
      border: 0.5cm inset rgb(89, 89, 236);

  }
  #nice:hover{
font-size: 2em;  }
.para-text:hover{
  height: 9%;
  width: 95%;
  border:3px double rgb(224, 95, 95);
  padding: 8px;
  display: block;
}
#navbar{
  background-color: rgb(64, 142, 243);
  margin: 0.3cm;
  flex-direction: row;
  flex-wrap :wrap;
  color: black;
  height: 64px;
  display: flex;
  padding: 0%;
  flex-wrap: nowrap;
  align-items: stretch;
 justify-content: center;

}
.nv{
  background-color:rgb(103, 235, 217);
border:2px solid black;
padding-top:10px;
margin: 0px;
display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-evenly;
}

.ter{
  background-color: red;
  height: 70px;
  flex-direction: row;
  flex-wrap :wrap;
  margin: 9px;
  color: black;
  display: flex;
  justify-content:flex-start;
  justify-content: space-around;


}
.tet{
  background-color:white;
  
  display: flex;
  flex-direction: row;
  width: 70px;
  line-height: 50px;
  margin: 10px;
}